meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
meta(name="author", content=config.author)
meta(name="copyright", content=config.author)
link(rel="author", type="text/html", href=theme.links.twitter.link)

link(rel="icon", href=url_for(theme.favicon))
link(rel="canonical", content=page.permalink)

block head_metadata
    title= config.title
    meta(name="description", content=config.description)
    meta(name="twitter:title", content=config.title)
    meta(name="twitter:description", content=config.description)
    meta(name="og:title", content=config.title)
    meta(name="og:description", content=config.description)

- var avatarUrl = config.url + url_for(theme.avatar)
meta(name="twitter:card", content="summary")
meta(name="twitter:site", content="@alexjoverm")
meta(name="twitter:creator", content="@alexjoverm")
meta(name="twitter:image", content=avatarUrl)

meta(name="og:site_name", content=config.title)
meta(name="og:locale", content="en_EN")
meta(name="og:type", content="article")
meta(name="og:image", content=avatarUrl)
meta(name="og:url", content=page.permalink)
meta(name="article:author", content="https://www.facebook.com/alex.jovermorales")

each item in theme.links
    - var name = item.title.toUpperCase()
    if item.title != 'RSS'
        link(rel="me", type="text/html", href=item.link)

link(rel="alternate", type="application/rss+xml", title=config.title, href=url_for("/atom.xml"))
link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
link(rel="stylesheet", href=url_for("/css/bootstrap.min.css"))
link(rel="stylesheet", href=url_for("/css/main.css"))

if theme.highlight.enable
    link(rel="stylesheet", href=url_for(theme.highlight.style_path))

if theme.googlefonts
    each font in theme.googlefonts
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family="+font)

