meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
meta(name="author", content=config.author)

link(rel="icon", href=url_for(theme.favicon))

block head_metadata
    title= config.title
    meta(name="description", content=config.description)

meta(name="author", content=config.author)
meta(name="copyright", content=config.author)
link(rel="author", type="text/html", href=theme.links.twitter.link)
each item in theme.links
    - var name = item.title.toUpperCase()
    if item.title != 'RSS'
        link(rel="me", type="text/html", href=item.link)

link(rel="alternate", type="application/rss+xml", title=config.title, href=url_for("/atom.xml"))
link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
link(rel="stylesheet", href=url_for("/css/bootstrap.min.css"))
link(rel="stylesheet", href=url_for("/css/main.css"))

if theme.highlight.enable
    link(rel="stylesheet", href=url_for(theme.highlight.style_path))

if theme.googlefonts
    each font in theme.googlefonts
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family="+font)

