extends partial/base

include partial/post-meta

block head_metadata
    title= page.title + " | " + config.author
    meta(name="description", content=page.description)

    meta(name="twitter:title", content=page.title)
    meta(name="twitter:description", content=page.description)
    meta(name="og:title", content=page.title)
    meta(name="og:description", content=page.description)

    meta(name="article:author", content="https://www.facebook.com/alex.jovermorales")
    meta(name="article:published_time", content=page.date.toISOString())
    if page.updated
        meta(name="article:modified_time", content=page.updated.toISOString())

    each tag in page.tags.data
        meta(name="article:tag", content=tag.name)



block header
    header.header-section
        .intro-header.no-img
            .container
                .row
                    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                        .post-heading
                            h1= page.title
                            if page.subtitle
                                h2.post-subheading= page.subtitle
                            +post_meta(page.date, page.tags)

block content
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                != posts_in_same_serie(page)
                article(role="main", class="blog-post")
                    != page.content
                ul.pager.blog-pager
                    if page.prev
                        li.previous
                            a(href=url_for(page.prev.path), data-toggle="tooltip", data-placement="top", title=page.prev.title)= __('prev_post')
                    if page.next
                        li.next
                            a(href=url_for(page.next.path), data-toggle="tooltip", data-placement="top", title=page.next.title)= __('next_post')

                include partial/signup_form
                include partial/comment



