extends partial/base

block head_metadata
  title= 'Series' + " | " + config.author
  meta(name="description", content="Curated series or collection of blog posts")
  meta(name="twitter:title", content="Series")
  meta(name="twitter:description", content="Curated series or collection of blog posts")
  meta(name="og:title", content="Series")
  meta(name="og:description", content="Curated series or collection of blog posts")

block header
  header.header-section
      .intro-header.no-img

block content
  div(class="container", role="main")
    .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          h1.title-quoted.page-title
            | "Curated&nbsp;
            strong Series&nbsp;
            | of Articles"

          section.series
            each serie in page
              h3.title
                a(href=url_for('series/' + serie.permalink), alt=serie.title)= serie.title
              //- span= serie.posts.length + " posts"
              ol.series-list
                each post in serie.posts
                  li
                    if post.path
                      a(href=url_for(post.path), alt=post.title)= post.title
                    else
                      = post.title






