extends partial/base

block head_metadata
  title= page.title + " | " + config.author
  meta(name="description", content=page.description)
  meta(name="twitter:title", content=page.title)
  meta(title="twitter:description", content=page.description)
  meta(name="og:title", content=page.name)
  meta(name="og:description", content=page.description)

block twitter_card
  meta(name="twitter:card", content="summary_large_image")

block metadata_image
    meta(name="og:image", content=url_for(page.imagePath))
    meta(name="twitter:image", content=url_for(page.imagePath))

block header
  header.header-section
    .intro-header.no-img

block content
  div(class="container", role="main")
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        h1.page-title= page.title

        section.description
          != page.description

        img(src=url_for(page.imagePath), alt="")

        ol.series-list
          each post in page.posts
            li
              if post.path
                a(href=url_for(post.path), alt=post.title)= post.title
              else
                = post.title








